<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <title>Document</title>
    </head>
    <body>

        <p>Inloggad som
        <% if(data.session.admin) { %>
            admin 
        <% } %>
        <%= JSON.stringify(data.session.username) %></p>
        <button onclick="logout()">Logga ut</button>

        <div id="dash-wrapper">
            <div id="quote-wrapper">
                <p id="quote"></p>
                <p id="author"></p>
            </div>
            <button onclick="getQuote()">Hämta citat</button>
        </div>

            <% if (data.session.admin) { %>
            <ul id="users-wrapper">
                <% data.users.forEach(user => { %>
                <li id="<%= user._id %>">
                    <input class="user-name" disabled value="<%= user.username %>"></input>
                    <p>Admin:</p>
                    <code><%= user.admin %></code>
                    <button class="user-edit" onclick="editUser('<%= user._id %>')">Ändra användarnamn</button>
                    
                    <% if(data.session._id != user._id) {%>

                        <button onclick="changePrivileges('<%= user._id %>')">
                            <% if(user.admin) {%>
                                Ta bort admin
                            <% } else { %>
                                Gör till admin
                            <% } %>
                        </button>
                        <button onclick="deleteUser('<%= user._id %>')">Radera</button>

                    <% } %>

                </li>
                <% }) %>
            </ul>
        
        <script>
            const deleteUser = async (id) => {
                    const res = await fetch(`http://localhost:3000/users/admin/delete`, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id: id
                        })
                    })

                    if (res.ok) {
                        location.reload()
                    } else {
                        const data = await res.json()
                        console.log(data)
                    }
            }

            const changePrivileges = async (id) => {
                const res = await fetch(`http://localhost:3000/users/admin/change-privileges`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        id: id
                    })
                })

                if (res.ok) {
                    location.reload()
                } else {
                    const data = await res.json()
                    console.log(data)
                }
            }

            const editUser = async (id) => {
                user = document.getElementById(id)
                
                const usernameInput = user.querySelector(".user-name")
                const editBtn = user.querySelector(".user-edit")

                editBtn.textContent = 'Spara'

                editBtn.onclick = async () => {
                    const res = await fetch(`http://localhost:3000/users/admin/edit`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id: id,
                            username: usernameInput.value
                        })
                    })

                    if (res.ok) {
                        location.reload()
                    } else {
                        const data = await res.json()
                        console.log(data)
                    }
                }

                usernameInput.disabled = false
            }
        </script>
        <% } %>

        <script>
            const quote = document.getElementById("quote")
            const author = document.getElementById("author")

            const getQuote = async () => {
                const res = await fetch(`http://localhost:3000/dash/quote`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                const data = await res.json()

                if (res.ok) {
                    quote.innerHTML = JSON.stringify(data.quote)
                    author.innerHTML = JSON.stringify(data.author)
                } else {
                    console.log(data)
                }
            }

            const logout = async () => {
                const res = await fetch(`http://localhost:3000/users/logout`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })

                if (res.ok) {
                    window.location.href = "/"
                } else {
                    const data = await res.json()
                    console.log(data)
                }
            }
        </script>
    </body>
</html>
